<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Forum</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'forums/style.css' %}" />
    <style>ul{list-style: none;}
            body{padding:3em;}
            .button{display:inline-block; border: 1px solid #000000;}</style>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'forums:index' %}">Forum</a>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
         <div class="form-group">
             <input type="text" class="form-control" name="q" value="">
        </div><!--  close form-group-->
                <a href="{% url 'forums:search' %}"> <button type="submit" class="btn btn-default">Search</button></a>
            </form>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'forums:register' %}"> Register</a></li>
            <li><a href="{% url 'forums:login_user' %}">Login</a></li>
            <li class="">
                <a href="{% url 'forums:user_logout' %}">
                    <span class="glyphicon glyphicon-forums" aria-hidden="True"></span>&nbsp; Logout
                </a>
            </li>

        </ul>

        </div><!-- close navbar header -->
     </div><!-- clsoe fluid  -->
</nav>
{% block body %}



{% endblock %}
</body>