{% extends "forums/base.html" %}
{% load staticfiles %}



{% block body %}

<h1>Login to HockeyTalk</h1>
<form id="login_form" method="post" action="{% url 'forums:login_user' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form><br><br>


        <div style="text-align:center"><b>Would you like to be part of the HockeyTalk Community, Register here! </b><br><br>
        <a class="btn btn-success" href="{% url 'forums:register'  %}" ><b>Register</b></a>
{% endblock %}

