{% extends 'forums/base.html' %}
{% load staticfiles %}

{% block body %}

<h1>Search Results</h1>

   <ul>
        {% for topic in results %}
        <li><a href="{% url 'forums:topic' topic.id %}">{{ topic.topic_title }}</a></li>


          {% endfor %}
    </ul>

   <ul>
        {% for post in results2 %}
        <li><a href="{% url 'forums:post' post.id %}">{{ post.content }} (<i> {{ post.poster }} replies on:  {{ post.date }})</i></a></li>


          {% endfor %}
    </ul>



{% endblock %}