{% extends 'forums/base.html' %}
{% load staticfiles %}


{% block body %}
<h1>{{ topic.topic_title }}</h1>
<ul>
        {% for post in topic.post_set.all %}

        {% if not post.parent %}

        <li><details><summary><a href="{% url 'forums:post' post.id %}">{{ post.content }} ({{ post.poster }}, {{ post.date }})</a></summary>
        <ul>
        {% for reply in topic.post_set.all %}
        {% if reply.parent = post %}
            <li>{{ reply.content }} ({{ post.poster }} replies on:  {{ post.date }}<br><br>
        {% endif %}
        {% endfor %}
            {% if post.image %}
            <img src="..{{ MEDIA_ROOT }}{{ post.image.url }}" class="img-responsive"><br>
            {% endif %}
        </ul>
        {% endif %}
</details>
    </li>
{% endfor %}








    </ul>
Add Comment
<form action = "{% url 'forums:newpost' %}" method="post" enctype="multipart/form-data"><br>
    {% csrf_token %}
    <textarea name="newcomment" rows=6 cols=80></textarea><br><br>
    <input type="file" name="uploadfile"/><br>
    <input type="submit" value="submit" />
    <input type="hidden" name="my_topic" value="{{ topic.pk }}"/>


</form>
{% endblock %}